@media screen and (max-width: 768px) {
  .carousel {
    max-width: 95% !important;
    max-height: 10% !important;
  }
}

.brave-window-carousel .carousel {
  max-width: 1800px;
}

.edge-window-carousel .carousel {
  max-width: 1460px;
  max-height: 550px;
}

.chrome-window-carousel .carousel {
  max-width: 1460px;
  max-height: 550px;
}