
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom scrollbar styles in the base layer */
@layer base {
    body {
      font-family: 'Nunito', sans-serif; /* Set default font to Inter */
    }
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #bfbfbf;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #bdbcbc;
    }

    .no-scroll {
        overflow: hidden;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .no-scroll::-webkit-scrollbar {
        display: none;  /* Chrome, Safari and Opera */
    }
}

@media (prefers-color-scheme: dark) {
    html {
      color-scheme: light;
    }
  }
  
